<div class="container">
    <div class="body">

        <div class="header">
            <div class="title">
                <h1>The ArtCafe</h1>
            </div>
            <div class="nav">
                <button class="btn1" routerLink="/home">Menu</button>
                <button class="btn1" routerLink="/about">About</button>
                <button class="btn1" routerLink="/contact">Contact</button>
                <button class="btn1" routerLink="/artist">Artist</button>
                <button class="btn1" routerLink="/history">History</button>
                <button class="btn2" routerLink="/profile">Profile</button>
                <button class="btn3" routerLink="/">Logout</button>
            </div>
        </div>
        <div class="content">
            <h1 class="abt">History</h1>
            <div class="logo">
                <img src="./assets/pictures/logo2.png">
            </div>
            <div class="pic1">
                <img src="./assets/pictures/n5.jpg">
            </div>
            <div>
                <p class="para">
                    We all recognise and understand that relevant, recent and high-quality content is an integral part of
                    any sound organic SEO marketing strategy. This can include adding fresh, original content to blogs,
                    landing pages and affiliate sites or adding new additional pages to your website.
    
                    To cater for the diverse range and sheer volume of these needs, a wide variety of options are available
                    for content and article creation. All content creation can be done by an in-house content writer, or you
                    can outsource your content creation fully or partly to a content agency.
    
                    In this blog, we at Topcontent take a look at the pros and cons of using ready-made content for online
                    marketing purposes. We will also provide some hot insights into maximising your content if you choose to
                    buy articles for your website.

                    The next edition of the Verbier Art Summit will be curated by Philip Tinari, director of the UCCA Center
                    for Contemporary Art in China, who will invite a new group of artists and thought leaders to generate
                    innovative ideas and drive social change. To ensure the physical gathering of these thinkers will be
                    able to take place, the next Summit dates have been chosen for 26 & 27 January 2024.
                    A newly introduced format of worldwide local Micro-Summits will take place over the course of 2023,
                    leading up to the international Summit in Verbier in 2024.
                </p>
            </div>
           
            <div class="message">
                <p class="line1">A collaborative Web platform</p>
                <p class="line">And</p>
                <p class="line">The Mobile application</p>
                <p class="line">For Artist and Art Enthusiasts</p>
            </div>
            <div>
                <p class="foot">THE ART CAFE</p>
            </div>
        </div>

    </div>
</div>