<div class="container">
    <div class="body">

        <div class="header">
            <div class="title">
                <h1>The ArtCafe</h1>
            </div>
            <div class="nav">
                <button class="btn1" routerLink="/home">Menu</button>
                <button class="btn1" routerLink="/about">About</button>
                <button class="btn1" routerLink="/contact">Contact</button>
                <button class="btn1" routerLink="/artist">Artist</button>
                <button class="btn1" routerLink="/history">History</button>
                <button class="btn2" routerLink="/profile">Profile</button>
                <button class="btn3" routerLink="/">Logout</button>
            </div>
        </div>
        <div class="content">
            <h1 class="abt">Contact Us</h1>
            <div class="logo">
                <img src="./assets/pictures/logo2.png">
            </div>
            <div class="pic1">
                <img src="./assets/pictures/n5.jpg">
            </div>
            <p class="text1">Want to Get in Touch? We'd Love to Hear from You! Here's How You can Reach us...</p>
            <div class="pic2">
                <img src="./assets/pictures/n3.jpg">
            </div>
            <div class="pic2">
                <img src="./assets/pictures/n4.png">
            </div>
            <div class="pic2">
                <img src="./assets/pictures/n5.jpg">
            </div>

            <div class="details">
                <div class="set">
                    <h3 class="info">facebook :</h3>
                    <h3 class="info">Twitter :</h3>
                    <h3 class="info">Mobile :</h3>
                    <h3 class="info">Email :</h3>
                </div>
                <div class="set2">
                    <h3 class="det">Artcafe@facebook.com</h3>
                    <h3 class="det">www.twit1234.com</h3>
                    <h3 class="det">0705604828</h3>
                    <h3 class="det">Artcafe@gmail.com</h3>
                </div>
                <p class="text2">Own Address - Goalface Road ,Colombo 06 - SriLanka</p>
            </div>

            <div class="message">
                <p class="line1">A collaborative Web platform</p>
                <p class="line">And</p>
                <p class="line">The Mobile application</p>
                <p class="line">For Artist and Art Enthusiasts</p>
            </div>
            <div>
                <p class="foot">THE ART CAFE</p>
            </div>
        </div>

    </div>
</div>