.header{
    background-color: rgb(79, 79, 78);
    padding: 1rem;
}
.title,.nav{
    display: inline-block;
}
.nav{
    margin-left: 10rem;
}
.title{
    margin-left: 3rem;
    color: #fff;
    font-weight: bold;
}
.btn1{
    background-color: rgb(65, 23, 6);
    color: white;
    height: 2rem;
    width: 120px;
    border-radius: 10px;
    margin: 0.5rem;
    font-size: 15px;
    font-weight: bolder;
}
.btn2{
    background-color: rgb(172, 98, 3);
    color: white;
    height: 2rem;
    width: 120px;
    border-radius: 10px;
    margin-left: 25rem;
    font-size: 15px;
    font-weight: bolder;
}
.btn3{
    background-color: rgb(172, 98, 3);
    color: white;
    height: 2rem;
    width: 120px;
    border-radius: 10px;
    margin: 0.5rem;
    font-size: 15px;
    font-weight: bolder;
}
.btn1:hover{
    background-color: rgb(135, 42, 5);
    color: black;
}
.btn2:hover{
    background-color: rgb(240, 165, 66);
    color: red;
}
.btn3:hover{
    background-color: rgb(240, 165, 66);
    color: red;
}
.content{
    background-color: rgb(157, 235, 233);
    margin-left: 9rem;
    width: 1320px;
    padding: 12px;
    margin-top: 1rem;
}
.abt{
    margin-left: 5rem;
}
.pic {
    width: 700px;
    height: 300px;
    margin-left: 17rem;
    background-color: yellow;
}
img{
    height: 100%;
    width: 100%;
}
.text1{
    font-size: 20px;
}
.para{
    margin: 2rem;
}
.text2{
    font-size: 20px;
    margin-top: 1rem;
}
