<div class="container">
    <div class="body">

        <div class="header">
            <div class="title">
                <h1>The ArtCafe</h1>
            </div>
            <div class="nav">
                <button class="btn1" routerLink="/home">Menu</button>
                <button class="btn1" routerLink="/about">About</button>
                <button class="btn1" routerLink="/contact">Contact</button>
                <button class="btn1" routerLink="/artist">Artist</button>
                <button class="btn1" routerLink="/history">History</button>
                <button class="btn2" routerLink="/profile">Profile</button>
                <button class="btn3" routerLink="/">Logout</button>
            </div>
        </div>
        <div class="content">
            <div class="personal">
                <div class="pic">
                    <img src="./assets/pictures/profile.webp">
                </div>
                <div class="icon">+</div>
                <h3 class="name">Alert Brown</h3>
                <div class="detail">
                    <p class="info">Software Engineer</p>
                    <p class="info">From Colombo</p>
                    <p class="info">TTS Road , Colombo - SriLanka</p>
                    <p class="info">0753762197</p>
                    <p class="info">check@gmail.com</p>
                    <p class="info">check@facebook.com</p>
                    <p class="info">demo@insta.com</p>
                </div>
                <div>
                    <button class="editbtn" routerLink="/edit">Edit Details</button>
                </div>
            </div>
            <hr>
            <hr>
            <div class="action">
                <h3 class="act">Actions</h3>
                <button class="addbtn" routerLink="/addart">+Add art</button>
                <button class="addbtn"></button>
                <button class="addbtn"></button>
                <button class="addbtn"></button>
            </div>
        </div>

    </div>
</div>
