<div class="container">
    <div class="body">

        <div class="header">
            <div class="title">
                <h1>The ArtCafe</h1>
            </div>
            <div class="nav">
                <button class="btn1" routerLink="/home">Menu</button>
                <button class="btn1" routerLink="/about">About</button>
                <button class="btn1" routerLink="/contact">Contact</button>
                <button class="btn1" routerLink="/artist">Artist</button>
                <button class="btn1" routerLink="/history">History</button>
                <button class="btn2" routerLink="/profile">Profile</button>
                <button class="btn3" routerLink="/">Logout</button>
            </div>
        </div>
        <div class="content">

            <!-- Add document Modal -->
            <h1 class="modal-title">Add new Art</h1>
            <form [formGroup]="form">
                <div class="sec">
                    <label class="label">Art Categoery</label>
                    <input type="text" formControlName="department" class="form-control" ngModel>
                </div>
                <div class="sec">
                    <label class="label">Artist Name</label>
                    <input type="text" formControlName="title" class="form-control" ngModel>
                </div>
                <div class="sec">
                    <label class="label">Amount of Art</label>
                    <input type="text" formControlName="document" class="form-control" ngModel>
                </div>
                <div class="choose">
                    <label class="label2">Upload the Art</label>
                    <input (change)="onFileSelect($event)" type="file">
                </div>
                <div class="sec">
                    <label class="label">Describe of the Art</label>
                    <input type="text" formControlName="document" class="form-control" ngModel>
                </div>

                <div class="modal-footer">
                    <button type="submit" class="add" routerLink="/addart">Add</button>
                    <button type="button" class="close" routerLink="/profile">Close</button>
                </div>

            </form>

        </div>

    </div>
</div>